:root {
    --gap-scale-factor: 250;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Steph", sans-serif;
    background: linear-gradient(#ffffff, #f9d6d6);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Ensures full height */
}

.container {
    max-width: 100%;
    margin: auto;
}

#togepi-gif {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
    margin: 50px auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

button {
    border-radius: 8px;
    min-width: 100px;
    max-width: 550px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: transform 0.1s ease;
}

button:hover {
    scale: 1.05;
}

#yes-btn {
    color: white;
    background-color: #57915e;
}

#no-btn {
    color: white;
    background-color: #db4e4e;
}

footer {
    padding: 20px 0; /* Reduced padding */
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #db4e4e;
}

@media (max-width: 1150px) {
    #togepi-gif {
        width: 380px;
        height: 304px;
    }

    h1 {
        font-size: 2rem;
    }

    .btn-container {
        gap: 20px;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    #togepi-gif {
        width: 300px;
        height: 240px;
    }

    h1 {
        font-size: 1.4rem;
    }

    .btn-container {
        gap: 10px;
    }

    button {
        font-size: 0.8rem;
    }
}